html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    width: 600px;
    margin: 0 auto;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.card,
h1 {
    padding: 20px;
    margin: 30px;
}

h1 {
    height: 114px;
}

.card {
    background-color: bisque;
    border: solid black 2px;
}